body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: rgb(242, 242, 242);
}

.registerButton {
    border-radius: 10px;
    background: #F26938;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #FFF;
    padding: 10px;
    border: none;
    margin: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
}

.logo-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-direction: column;

}

.logoImg {
   width: 250px;
   height: 150px;

}

/* Home*/

.homeSection {
    background-image: url("images/BACKGROUNDPICTURE1.png");
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column; /* Alinear elementos verticalmente */
    justify-content: flex-end; /* Justificar hacia la parte inferior */
    align-items: center; /* Centrar horizontalmente */
}

.slogan-style {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: white;
}

.general {
    background-color: #FFF;
    height: auto;
    width: auto;
    padding: 15px 50px;
    margin: auto; /* Cambiado para ajustar el margen inferior */
    border: none;
    border-radius: 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #151618;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.loginButton {
    border-radius: 10px;
    background: #011640;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
    height: 40px;
    width: 200px;
    color: #FFF;
    padding: 5%;
    border: none;
    margin: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
}

.googleButton {
    height: 40px;
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    text-align: center;
    width: 200px;
    margin-bottom: 23px;
    padding: 0px 10px 0px 3px;
    font-size: 15px;
    color: white;
    border-radius: 10px;
    border-style: solid;
    background: #011640;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
}

.googleButton:before {
    background-image: url("/images/logo-google.png");
    content: '';
    width: 15px;
    height: 15px;
    display: flex;
    margin-right: 25px;
    background-repeat: no-repeat;
    margin-left: 35px;
    box-sizing: border-box;
    background-size: 20px 20px;
    background-position: center center;
}
/*Login*/

.loginSection {
    background-image: url("images/background-picture-2.png");
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column; /* Alinear elementos verticalmente */
    justify-content: flex-end; /* Justificar hacia la parte inferior */
    align-items: center; /* Centrar horizontalmente */
}

.login-button, .sendEmail {
    border-radius: 10px;
    background: #F26938;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
    width: 120px;
    color: #FFF;
    padding: 7px;
    border: none;
    margin: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
}

.error {
    color: white;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.generalLogin, .generalRegister{
    background-color: #011640;
    height: auto;
    width: auto;
    padding: 15px 38px;
    margin: auto; 
    border: none;
    border-radius: 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.input-login, .input-register {
    margin: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 15px;
    padding: 7px;

}

.button-return {
    border-radius: 8px;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
    width: 120px;
    color: #151618;
    padding: 4px;
    border: white;
    margin: 15px;
}


/*Register*/

.registerSection {
    background-image: url("images/backgroundpicture-3.png");
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column; /* Alinear elementos verticalmente */
    justify-content: flex-end; /* Justificar hacia la parte inferior */
    align-items: center; /* Centrar horizontalmente */
}
/* Feed */

.headerClass {
  background-color: #011640;
  height: 18vh;
  text-align:right;
  padding:15px
}
.logoImgFeed {
  width: 25vh;
  height: 15vh;
}
.button-logout {
  border-radius: 10px;
  background: none;
  text-align: center;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #FFF;
  border: none;
  margin:0 5%
  
}
.textAreaSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 50px;
  margin: auto;
  background-color: #F2F2F2;
}
@media (min-width: 700px) {
.textAreaSection {
    width: 80%;
    
}
}
.sendPost-button{
  border-radius: 10px;
  background: #F2522E;
  text-align: center;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #FFF;
  padding: 10px;
  border: none;
  margin: 15px 0px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
  align-self: flex-end;
}
.text-area{
  margin: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 15px;
  padding: 2rem 1rem;
  width: 100%;
  height: auto;
  resize: none;
}

#post-section {
    display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 50px;
  margin: auto;
  
  

}
@media (min-width: 700px) {
    #post-section {
        width: 80%;
        
    }
    }
.individual-post {
    background-color: #151618;
    color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
    width: 100%;
    height: auto;
    resize: none;
    margin: 10px;
    display: flex;
    flex-direction: column;
    font-family:Arial, Helvetica, sans-serif;

}

h4 {
    font-size: 18px;
    margin: 20px 20px 10px 20px

}

p {
    font-size: 15px;
  margin: 10px 20px 20px 20px
}

.section-like {
    background-image: url("/images/icono-brazo-like.png");
    content: '';
    width: 15px;
    height: 15px;
    display: flex;
    margin-right: 25px;
    background-repeat: no-repeat;
    margin-left: 35px;
    box-sizing: border-box;
    background-size: 20px 20px;
    background-position: center center;
}